.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.row{
    margin:0px;
    margin-top:-1px;
    background:#ffe0e0;
    height:82px;
}
.row:nth-child(2n+1){
    background:#e0ffe0;
}